<script>
    function updateFileList(fileName) {
        console.log(fileName)
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/",
            data: { selectedFile: selectedFile + fileName },
            success: (response) => {
                console.log(response)
                conosle.log("Working")
            },
            dataType: dataType
        });
    }
</script>

    {{#if files}}
        {{#each files}}
            <button class="btn btn-lg btn-primary btn-block" onclick=updateFileList({{this}})>{{this}}</button>
        {{/each}}
    {{else}}
        <br>
        <h4 style="text-align: center;">Nothing Here!!</h4>
    {{/if}}

